@using Ewu.WebUI.Models.ViewModel
@model UserDeal

@{
    ViewBag.Title = "MyDeal";
    Layout = "~/Views/Shared/_TableLayout.cshtml";
}

<!--导航-->
@section Nav{
    <section class="breadcrumb-area">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="breadcrumb">
                        <ul>
                            <li>
                                <a href="index.html">首页</a>
                            </li>
                            <li>
                                <a href="#">个人</a>
                            </li>
                            <li class="active">
                                <a href="#">交易记录</a>
                            </li>
                        </ul>
                    </div>
                    <h1 class="page-title">DealLog</h1>
                </div>
            </div>
        </div>
    </section>
}

<section class="section--padding2 bgcolor">
    <div class="container">
        <div class="row">
            <di class="col-md-12">
                <div class="modules__content">
                    <div class="withdraw_module withdraw_history">
                        <!--标题-->
                        <div class="withdraw_table_header">
                            <h3>我的交易记录</h3>
                        </div>
                        <div class="table-responsive">
                            <!--表格-->
                            <table class="table table-hover table-condensed">
                                <!--表头-->
                                <thead>
                                    <tr>
                                        <th class="bold">开始时间</th>
                                        <th class="font-weight-bolder">状态</th>
                                        <th class="font-weight-bolder">我换出的</th>
                                        <th class="font-weight-bolder">我得到的</th>
                                        <th class="font-weight-bolder">交易人</th>
                                        <th class="font-weight-bolder">结束时间</th>
                                        <th width="70px"></th>
                                    </tr>
                                </thead>
                                <!--表身-->
                                <tbody>
                                    @Html.Partial("Summary/DealLogTable", Model.LogDealTableInfos)
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</section>