<footer class="footer-area">
    <div class="footer-big section--padding">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-6">
                    <div class="info-footer">
                        <!--Logo-->
                        <div class="info__logo">
                            <img src="~/images/flogo.png" alt="footer logo">
                        </div>
                        <!--介绍-->
                        <p class="info--text">
                            易物网是一款可以解决你无处安放闲置物品苦恼的平台。
                            不只有交易，有着共同爱好、趣味相投的人们正集结起来。
                        </p>
                        <!--联系方式-->
                        <ul class="info-contact">
                            <li>
                                <span class="lnr lnr-phone info-icon"></span>
                                <span class="info">Phone: +8615869650977</span>
                            </li>
                            <li>
                                <span class="lnr lnr-envelope info-icon"></span>
                                <span class="info">zxh957553851@gmail.com</span>
                            </li>
                            <li>
                                <span class="lnr lnr-map-marker info-icon"></span>
                                <span class="info">浙江省杭州市下沙高教园区学源街18号</span>
                            </li>
                        </ul>
                    </div>
                </div>

                <div class="col-lg-5 col-md-6">
                    <div class="footer-menu">
                        <h4 class="footer-widget-title text--white">组织</h4>
                        <ul>
                            <li>
                                <a href="#">如何加入我们</a>
                            </li>
                            <li>
                                <a href="#">易物网如何运转的</a>
                            </li>
                            <li>
                                <a href="#">版权信息</a>
                            </li>
                        </ul>
                    </div>

                    <div class="footer-menu">
                        <h4 class="footer-widget-title text--white">帮助和咨询</h4>
                        <ul>
                            <li>
                                <a href="#">如何注册</a>
                            </li>
                            <li>
                                <a href="#">如何上传物品</a>
                            </li>
                            <li>
                                <a href="#">如何交易</a>
                            </li>
                        </ul>
                    </div>
                </div>

                <div class="col-lg-4 col-md-12">
                    <div class="newsletter">
                        <h4 class="footer-widget-title text--white">联系开发者</h4>
                        <p>在下方填写你的电子邮箱地址，我会发邮件给你!</p>
                        <div class="newsletter__form">
                            <form action="#">
                                <div class="field-wrapper">
                                    <input class="relative-field rounded" type="text" placeholder="填写你的电子邮箱地址">
                                    <button class="btn btn--round" type="submit">提交</button>
                                </div>
                            </form>
                        </div>

                        <div class="social social--color--filled">
                            <ul>
                                <li>
                                    <a href="#">
                                        <span class="fa fa-facebook"></span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <span class="fa fa-twitter"></span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <span class="fa fa-google-plus"></span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <span class="fa fa-pinterest"></span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <span class="fa fa-linkedin"></span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <span class="fa fa-dribbble"></span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="mini-footer">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="copyright-text">
                        <p>
                            &copy; 2019
                            <a href="http://www.beishui.xyz/">Ewu</a>. 版权所有。由
                            <a href="https://github.com/XgHao">XgHaoZheng</a>提供
                        </p>
                    </div>

                    <div class="go_top">
                        <span class="lnr lnr-chevron-up"></span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
