@model string
<!--导航行-->
<div class="row">
    <div class="col-md-12">
        <ul class="dashboard_menu">
            @if (Model == "所有交易记录")
            {
                <li class="active col-md-2">
                    <a href="/Account/AllDealLog">
                        <span class="lnr lnr-home"></span>所有交易记录
                    </a>
                </li>
            }
            else
            {
                <li class="col-md-2">
                    <a href="/Account/AllDealLog">
                        <span class="lnr lnr-home"></span>所有交易记录
                    </a>
                </li>
            }
            @if (Model == "我收到的申请")
            {
                <li class="active col-md-2">
                    <a href="/Account/RecipientDealLog">
                        <span class="lnr lnr-chart-bars"></span>我收到的申请
                    </a>
                </li>
            }
            else
            {
                <li class="col-md-2">
                    <a href="/Account/RecipientDealLog">
                        <span class="lnr lnr-chart-bars"></span>我收到的申请
                    </a>
                </li>
            }
            @if (Model == "我发起的申请")
            {
                <li class="active col-md-2">
                    <a href="/Account/InitiateDealLog">
                        <span class="lnr lnr-cog"></span>我发起的申请
                    </a>
                </li>
            }
            else
            {
                <li class="col-md-2">
                    <a href="/Account/InitiateDealLog">
                        <span class="lnr lnr-cog"></span>我发起的申请
                    </a>
                </li>
            }
            @if (Model == "结束的交易")
            {
                <li class="active col-md-2">
                    <a href="dashboard-withdrawal.html">
                        <span class="lnr lnr-briefcase"></span>结束的交易
                    </a>
                </li>
            }
            else
            {
                <li class="col-md-2">
                    <a href="dashboard-withdrawal.html">
                        <span class="lnr lnr-briefcase"></span>结束的交易
                    </a>
                </li>
            }
            @if (Model == "进行中的交易")
            {
                <li class="active col-md-2">
                    <a href="/Account/DealingLog">
                        <span class="lnr lnr-briefcase"></span>进行中的交易
                    </a>
                </li>
            }
            else
            {
                <li class="col-md-2">
                    <a href="/Account/DealingLog">
                        <span class="lnr lnr-briefcase"></span>进行中的交易
                    </a>
                </li>
            }
        </ul>
    </div>
</div>
