@model string
<!--导航行-->
<div class="row">
    <div class="col-md-12">
        <ul class="dashboard_menu">
            @if (Model == "所有交易记录")
            {
                <li class="active col-md-2">
                    <a href="/Account/AllDealLog">
                        <span class="fa fa-bars"></span>所有交易记录
                    </a>
                </li>
            }
            else
            {
                <li class="col-md-2">
                    <a href="/Account/AllDealLog">
                        <span class="fa fa-bars"></span>所有交易记录
                    </a>
                </li>
            }
            @if (Model == "我收到的申请")
            {
                <li class="active col-md-2">
                    <a href="/Account/RecipientDealLog">
                        <span class="fa fa-download"></span>我收到的申请
                    </a>
                </li>
            }
            else
            {
                <li class="col-md-2">
                    <a href="/Account/RecipientDealLog">
                        <span class="fa fa-download"></span>我收到的申请
                    </a>
                </li>
            }
            @if (Model == "我发起的申请")
            {
                <li class="active col-md-2">
                    <a href="/Account/InitiateDealLog">
                        <span class="fa fa-upload"></span>我发起的申请
                    </a>
                </li>
            }
            else
            {
                <li class="col-md-2">
                    <a href="/Account/InitiateDealLog">
                        <span class="fa fa-upload"></span>我发起的申请
                    </a>
                </li>
            }
            @if (Model == "成功的交易")
            {
                <li class="active col-md-2">
                    <a href="/Account/CompleteDealLog">
                        <span class="fa fa-handshake-o"></span>成功的交易
                    </a>
                </li>
            }
            else
            {
                <li class="col-md-2">
                    <a href="/Account/CompleteDealLog">
                        <span class="fa fa-handshake-o"></span>成功的交易
                    </a>
                </li>
            }
            @if (Model == "进行中的交易")
            {
                <li class="active col-md-2">
                    <a href="/Account/DealingLog">
                        <i class="fa fa-refresh fa-spin fa-fw"></i>
                        <span class="sr-only"></span>进行中的交易
                    </a>
                </li>
            }
            else
            {
                <li class="col-md-2">
                    <a href="/Account/DealingLog">
                        <i class="fa fa-refresh fa-spin fa-fw"></i>
                        <span class="sr-only"></span>进行中的交易
                    </a>
                </li>
            }
        </ul>
    </div>
</div>
