<div class="col-lg-8 offset-lg-1 col-md-9 col-6 v_middle">
    <!--用户区域-->
    <div class="author-area">
        <!--注册页面-->
        <a href="/Register/Create" class="author-area__seller-btn inline">Become a Ewuer</a>

        <!---提示-->
        <div class="author__notification_area">
            <ul>
                <li class="has_dropdown">
                </li>
                <li class="has_dropdown">
                </li>
                <li class="has_dropdown">
                </li>
            </ul>
        </div>
    </div>
</div>