
@{
    ViewBag.Title = "Error";
    Layout = "~/Views/Shared/_BasicLayout.cshtml";
}

@section Nav{
    <section class="breadcrumb-area">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="breadcrumb">
                        <ul>
                            <li>
                                <a href="index.html">主页</a>
                            </li>
                            <li class="active">
                                <a href="#">出错</a>
                            </li>
                        </ul>
                    </div>
                    <h1 class="page-title">Error</h1>
                </div>
            </div>
        </div>
    </section>
}

