@using Ewu.WebUI.Models;
@model TreasureListViewModel

@{
    ViewBag.Title = "List";
}

@foreach(var t in Model.Treasures)
{
    //使用分部视图-物品概况
    @Html.Partial("TreasureSummary", t)
}

@*分页信息-页码*@
<div class="btn-group pull-right">
    @* 这里使用自定义的PageLinks HTML辅助器生成链接，使用Url.Action输出链接 *@
    @Html.PageLinks(Model.PagingInfo, x => Url.Action(
                                                 actionName: "List",
                                                 routeValues: new
                                                 {
                                                     page = x,
                                                     category = Model.CurrentCategory
                                                 }
                                             ))
</div>

