@using Ewu.WebUI.Models.ViewModel;
@model TreasureListViewModel

@{
    ViewBag.Title = "我的物品";
    Layout = "~/Views/Shared/_TreasureListLayout.cshtml";
}


<!--搜索框-->
@section SearchBox{
    <section class="search-wrapper">
        <div class="search-area2 bgimage">
            <div class="bg_image_holder">
                <img src="~/images/search.jpg" alt="">
            </div>
            <div class="container content_above">
                <div class="row">
                    <div class="col-md-8 offset-md-2">
                        <div class="search">
                            <div class="search__title">
                                <h3>
                                    目前为止已有<span>8</span>件物品加入了交换的行列
                                </h3>
                            </div>
                            <div class="search__field">
                                <form action="#">
                                    <div class="field-wrapper">
                                        <input class="relative-field rounded" type="text" placeholder="如果想搜索时间，格式需如20xx/x/xx">
                                        <button class="btn btn--round" type="submit">搜索</button>
                                    </div>
                                </form>
                            </div>
                            <div class="breadcrumb">
                                <ul>
                                    <li>
                                        <a href="/Treasure/Index">首页</a>
                                    </li>
                                    <li class="active">
                                        <a href="#">我的物品</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
}

<!--物品列表-->
@section List{
    <!--筛选-->
    <div class="filter-area">
        <div class="container">
            <div class="row">
                <div class="col-md-12 text-center">
                    <div class="filter-bar">
                        <!--分类-->
                        @Html.Action("Category", "Nav")

                        <!--排序-->
                        @Html.Action("Orderby", "Nav")
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--物品-->
    <section class="products  section--padding2">
        <div class="container">
            <!--物品-->
            <div class="row">
                <div class="col-md-12">
                    @foreach (var treasureAndHolder in Model.TreasureAndHolderInfos)
                    {
                        @Html.Partial("Summary/MyTreasureSmy", treasureAndHolder);
                    }
                </div>
            </div>
            <!--页码-->
            <div class="row">
                <div class="col-md-12">
                    <div class="pagination-area">
                        <nav class="navigation pagination" role="navigation">
                            <div class="nav-links">
                                @Html.PageLinks(Model.PagingInfo, x => Url.Action("MyList", new { page = x, category = Model.CurrentCate }))
                            </div>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </section>
}


