@using Ewu.WebUI.Models.ViewModel
@model UploadImgs

@{
    ViewBag.Title = "上传图片";
    Layout = "~/Views/Shared/_BasicLayout.cshtml";
}

<!--导航-->
@section Nav{
    <section class="breadcrumb-area">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="breadcrumb">
                        <ul>
                            <li>
                                <a href="/Treasure/Index">首页</a>
                            </li>
                            <li>
                                <a href="/Account/AccountInfo">个人</a>
                            </li>
                            <li>
                                <a href="#">上传物品</a>
                            </li>
                            <li class="active">
                                <a href="#">上传图片</a>
                            </li>
                        </ul>
                    </div>
                    <h1 class="page-title">Upload Images</h1>
                </div>
            </div>
        </div>
    </section>
}

<section class="dashboard-area">

    <div class="dashboard_contents">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="dashboard_title_area">
                        <div class="pull-left">
                            <div class="dashboard__title">
                                <h2>上传闲物的图片</h2>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            
            <div class="row">
                <div class="col-lg-8 col-md-7">
                    <div class="upload_modules" id="Cover">
                        <div class="modules__title">
                            <h3>封面</h3>
                        </div>
                        <div class="modules__content">
                            <div class="form-group no-margin">
                                <form action="~/UpLoadImg/Cover" class="dropzone needsclick dz-clickable" enctype="multipart/form-data" id="CoverDropzone" method="post">
                                    @Html.Hidden("TreasureUID", Model.TreasureUID)
                                    @Html.Hidden("UserUID", Model.UserID)
                                </form>
                            </div>
                            <div class="form-group no-margin">
                                <input type="submit" id="CoverBtn" class="btn btn-warning btn--fullwidth" disabled="disabled" value="上传" />
                                <input type="button" id="ToDetail" class="btn btn-danger btn--fullwidth" hidden="hidden" value="点击继续上传物品细节图片" />
                            </div>
                        </div>
                        
                    </div>
                    <div class="upload_modules" id="Detail" hidden="hidden">
                        <div class="modules__title">
                            <h3>细节图</h3>
                        </div>
                        <div class="modules__content">
                            <div class="form-group no-margin">
                                <form action="~/UpLoadImg/DetailImg" class="dropzone" enctype="multipart/form-data" id="DetailImgDropzone" method="post">
                                    @Html.Hidden("TreasureUID", Model.TreasureUID)
                                    @Html.Hidden("UserUID", Model.UserID)
                                </form>
                            </div>
                            <div class="form-group no-margin">
                                <input type="submit" id="DetailImgBtn" class="btn btn-warning btn--fullwidth" disabled="disabled" value="上传" />
                                <input type="button" id="Success" class="btn btn-success btn--fullwidth" hidden="hidden" value="完成" />
                            </div>
                        </div>
                    </div>
                </div>


                <div class="col-lg-4 col-md-5">
                    <aside class="sidebar upload_sidebar">
                        <div class="sidebar-card">
                            <div class="card-title">
                                <h3>
                                    <span class="text-warning">帮助</span> & 
                                    <span class="text-danger">注意事项</span>
                                </h3>
                            </div>
                            <div class="card_content">
                                <div class="card_info">
                                    <h4 class="text-warning">封面图</h4>
                                    <p class="text-black-50">
                                        封面图用于在列表中显示，只能选择
                                        <span class="text-danger font-weight-bold small">1</span>
                                        张图片。建议的图片的大小在
                                        <span class="text-danger font-weight-bold small">3M之内</span>
                                        ，尺寸为
                                        <span class="text-danger font-weight-bold small">350*480(宽度*高度)</span>
                                        。用手机拍摄时，建议竖着拿拍摄照片。
                                    </p>
                                </div>
                                <div class="card_info">
                                    <h4 class="text-warning">细节图</h4>
                                    <p class="text-black-50">
                                        物品细节图用于在物品详情页显示，可以选择
                                        <span class="text-danger font-weight-bold small">1~4</span>
                                        张图片。建议的图片的大小在
                                        <span class="text-danger font-weight-bold small">3M之内</span>
                                        ，尺寸为
                                        <span class="text-danger font-weight-bold small">600*350(宽度*高度)</span>
                                        。用手机拍摄时，建议横着拿拍摄照片。
                                    </p>
                                </div>
                            </div>
                        </div>
                    </aside>
                </div>
            </div>
        </div>
    </div>
</section>