
@{
    ViewBag.Title = "ViewDeliveryInfo";
    Layout = "~/Views/Shared/_ScoreLayout.cshtml";
}

<!--导航-->
@section Nav{
    <section class="breadcrumb-area">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="breadcrumb">
                        <ul>
                            <li>
                                <a href="index.html">首页</a>
                            </li>
                            <li>
                                <a href="#">个人</a>
                            </li>
                            <li>
                                <a href="#">交易信息</a>
                            </li>
                            <li class="active">
                                <a href="#">收货地址查看</a>
                            </li>
                        </ul>
                    </div>
                    <h1 class="page-title">LogDeal</h1>
                </div>
            </div>
        </div>
    </section>
}

<section class="faq_area section--padding">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="cardify faq_module">
                    <div class="faq-title">
                        <span class="lnr lnr-file-add"></span>
                        <h4>For Authors (45)</h4>
                    </div>

                    <div class="faqs">
                        <div class="panel-group accordion" role="tablist" id="accordion">
                            <div class="panel accordion__single" id="panel-one">
                                <div class="single_acco_title">
                                    <h4>
                                        <a data-toggle="collapse" href="#collapse1" class="collapsed" aria-expanded="false" data-target="#collapse1" aria-controls="collapse1">
                                            <span>How to write the changelog for theme updates?</span>
                                            <i class="lnr lnr-chevron-down indicator"></i>
                                        </a>
                                    </h4>
                                </div>

                                <div id="collapse1" class="panel-collapse collapse" aria-labelledby="panel-one" data-parent="#accordion">
                                    <div class="panel-body">
                                        <p>
                                            Nunc placerat mi id nisi interdum mollis. Praesent pharetra, justo ut sceleris
                                            que the mattis, leo quam aliquet congue placerat mi id nisi interdum mollis.
                                            Aliquip placeat salvia cillum iphone. Seitan aliquip quis cardigan american
                                            apparel, butcher. Nunc placerat mi id nisi interdum mollis. Praesent pharetra,
                                            justo ut sceleris que the mattis, leo quam aliquet congue placerat mi id
                                            nisi interdum mollis. Aliquip placeat salvia cillum iphone. Seitan aliquip
                                            quis cardigan american apparel, butcher .
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

