<!DOCTYPE html>

<html lang="zh-cn">

<head>
    <meta charset="UTF-8">

    <!-- viewport meta -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="MartPlace - Complete Online Multipurpose Marketplace HTML Template">
    <meta name="keywords" content="marketplace, easy digital download, digital product, digital, html5">
    <!-- CSS  -->
    <link href="~/Content/animate.css" rel="stylesheet" />
    <link href="~/Content/font-awesome.min.css" rel="stylesheet" />
    <link href="~/Content/fontello.css" rel="stylesheet" />
    <link href="~/Content/jquery-ui.css" rel="stylesheet" />
    <link href="~/Content/lnr-icon.css" rel="stylesheet" />
    <link href="~/Content/owl.carousel.css" rel="stylesheet" />
    <link href="~/Content/slick.css" rel="stylesheet" />
    <link href="~/Content/trumbowyg.min.css" rel="stylesheet" />
    <link href="~/Content/bootstrap/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/style.css" rel="stylesheet" />
    <!-- END CSS -->
    <!-- ICON -->
    <link rel="icon" type="image/png" sizes="16*16" href="~/images/favicon.png" />
    

    <title>@ViewBag.Title</title>
</head>
<body class="preload home1 mutlti-vendor">
    <div class="menu-area">
        <!--顶部栏-->
        <div class="top-menu-area">
            <div class="container">
                <div class="row">
                    <!--Logo-->
                    <div class="col-lg-3 col-md-3 col-6 v_middle">
                        <div class="logo">
                            <a href="index.html">
                                <img src="~/images/logo.png" alt="logo image" class="img-fluid">
                            </a>
                        </div>
                    </div>
                    <!--用户个人信息-->
                    @RenderSection("UserInfo")
                </div>
            </div>
        </div>

        <!--导航栏-->
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="navbar-header">
                        <!--搜索框-->
                        <div class="mainmenu__search">
                            <form action="#">
                                <div class="searc-wrap">
                                    <input type="text" placeholder="Search product">
                                    <button type="submit" class="search-wrap__btn">
                                        <span class="lnr lnr-magnifier"></span>
                                    </button>
                                </div>
                            </form>
                        </div>
                    </div>

                    <nav class="navbar navbar-expand-md navbar-light mainmenu__menu">

                        <!--导航栏-->
                        <div class="collapse navbar-collapse" id="navbarNav">
                            <ul class="navbar-nav">
                                <li class="has_dropdown">
                                    <a href="index.html">主页</a>
                                </li>
                                <li class="has_dropdown">
                                    <a href="all-products-list.html">物品</a>
                                    <div class="dropdowns dropdown--menu">
                                        <ul>
                                            <li>
                                                <a href="all-products.html">最近的物品</a>
                                            </li>
                                            <li>
                                                <a href="all-products.html">最热门的物品</a>
                                            </li>
                                            <li>
                                                <a href="index3.html">随便看看</a>
                                            </li>
                                        </ul>
                                    </div>
                                </li>
                                <li class="has_dropdown">
                                    <a href="#">分类</a>
                                    <div class="dropdowns dropdown--menu">
                                        <ul>
                                            <li>
                                                <a href="category-grid.html">书籍图册</a>
                                            </li>
                                            <li>
                                                <a href="category-grid.html">电脑配件</a>
                                            </li>
                                            <li>
                                                <a href="category-grid.html">电子产品</a>
                                            </li>
                                            <li>
                                                <a href="category-grid.html">生活用品</a>
                                            </li>
                                            <li>
                                                <a href="category-grid.html">服饰面料</a>
                                            </li>
                                            <li>
                                                <a href="category-grid.html">闲杂物品</a>
                                            </li>
                                        </ul>
                                    </div>
                                </li>
                                <li class="has_megamenu">
                                    <a href="#">Elements</a>
                                    <div class="dropdown_megamenu contained">
                                        <div class="megamnu_module">
                                            <div class="menu_items">
                                                <div class="menu_column">
                                                    <ul>
                                                        <li>
                                                            <a href="accordion.html">Accordion</a>
                                                        </li>
                                                        <li>
                                                            <a href="alert.html">Alert</a>
                                                        </li>
                                                        <li>
                                                            <a href="brands.html">Brands</a>
                                                        </li>
                                                        <li>
                                                            <a href="buttons.html">Buttons</a>
                                                        </li>
                                                        <li>
                                                            <a href="cards.html">Cards</a>
                                                        </li>
                                                        <li>
                                                            <a href="charts.html">Charts</a>
                                                        </li>
                                                        <li>
                                                            <a href="content-block.html">Content Block</a>
                                                        </li>
                                                        <li>
                                                            <a href="dropdowns.html">Drpdowns</a>
                                                        </li>
                                                    </ul>
                                                </div>

                                                <div class="menu_column">
                                                    <ul>
                                                        <li>
                                                            <a href="features.html">Features</a>
                                                        </li>
                                                        <li>
                                                            <a href="footer.html">Footer</a>
                                                        </li>
                                                        <li>
                                                            <a href="info-box.html">Info Box</a>
                                                        </li>
                                                        <li>
                                                            <a href="menu.html">Menu</a>
                                                        </li>
                                                        <li>
                                                            <a href="modal.html">Modal</a>
                                                        </li>
                                                        <li>
                                                            <a href="pagination.html">Pagination</a>
                                                        </li>
                                                        <li>
                                                            <a href="peoples.html">Peoples</a>
                                                        </li>
                                                        <li>
                                                            <a href="products.html">Products</a>
                                                        </li>
                                                    </ul>
                                                </div>

                                                <div class="menu_column">
                                                    <ul>
                                                        <li>
                                                            <a href="progressbar.html">Progressbar</a>
                                                        </li>
                                                        <li>
                                                            <a href="social.html">Social</a>
                                                        </li>
                                                        <li>
                                                            <a href="tab.html">Tabs</a>
                                                        </li>
                                                        <li>
                                                            <a href="table.html">Table</a>
                                                        </li>
                                                        <li>
                                                            <a href="testimonials.html">Testimonials</a>
                                                        </li>
                                                        <li>
                                                            <a href="timeline.html">Timeline</a>
                                                        </li>
                                                        <li>
                                                            <a href="typography.html">Typography</a>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li class="has_megamenu">
                                    <a href="#">Pages</a>
                                    <div class="dropdown_megamenu">
                                        <div class="megamnu_module">
                                            <div class="menu_items">
                                                <div class="menu_column">
                                                    <ul>
                                                        <li class="title">Product</li>
                                                        <li>
                                                            <a href="all-products.html">Products Grid</a>
                                                        </li>
                                                        <li>
                                                            <a href="all-products-list.html">Products List</a>
                                                        </li>
                                                        <li>
                                                            <a href="category-grid.html">Category Grid</a>
                                                        </li>
                                                        <li>
                                                            <a href="category-list.html">Category List</a>
                                                        </li>
                                                        <li>
                                                            <a href="search-product.html">Search Product</a>
                                                        </li>
                                                        <li>
                                                            <a href="single-product.html">Single Product V1</a>
                                                        </li>
                                                        <li>
                                                            <a href="single-product-v2.html">Single Product V2</a>
                                                        </li>
                                                        <li>
                                                            <a href="single-product-v3.html">Single Product V3</a>
                                                        </li>
                                                        <li>
                                                            <a href="cart.html">Shopping Cart</a>
                                                        </li>
                                                        <li>
                                                            <a href="checkout.html">Checkout</a>
                                                        </li>
                                                    </ul>
                                                </div>

                                                <div class="menu_column">
                                                    <ul>
                                                        <li class="title">Author</li>
                                                        <li>
                                                            <a href="author.html">Author Profile</a>
                                                        </li>
                                                        <li>
                                                            <a href="author-items.html">Author Items</a>
                                                        </li>
                                                        <li>
                                                            <a href="author-reviews.html">Customer Reviews</a>
                                                        </li>
                                                        <li>
                                                            <a href="author-followers.html">Followers</a>
                                                        </li>
                                                        <li>
                                                            <a href="author-following.html">Following</a>
                                                        </li>
                                                        <li>
                                                            <a href="notification.html">Notifications</a>
                                                        </li>
                                                        <li>
                                                            <a href="message.html">Message Inbox</a>
                                                        </li>
                                                        <li>
                                                            <a href="message-compose.html">Message Compose</a>
                                                        </li>
                                                        <li>
                                                            <a href="favourites.html">Favorites Items</a>
                                                        </li>
                                                    </ul>
                                                </div>

                                                <div class="menu_column">
                                                    <ul>
                                                        <li class="title">Dashboard</li>
                                                        <li>
                                                            <a href="dashboard.html">Dashboard</a>
                                                        </li>
                                                        <li>
                                                            <a href="dashboard-setting.html">Account Settings</a>
                                                        </li>
                                                        <li>
                                                            <a href="dashboard-purchase.html">Author Purchases</a>
                                                        </li>
                                                        <li>
                                                            <a href="dashboard-add-credit.html">Add Credits</a>
                                                        </li>
                                                        <li>
                                                            <a href="dashboard-statement.html">Statements</a>
                                                        </li>
                                                        <li>
                                                            <a href="invoice.html">Invoice</a>
                                                        </li>
                                                        <li>
                                                            <a href="dashboard-upload.html">Upload Item</a>
                                                        </li>
                                                        <li>
                                                            <a href="dashboard-manage-item.html">Edit Items</a>
                                                        </li>
                                                        <li>
                                                            <a href="dashboard-withdrawal.html">Withdrawals</a>
                                                        </li>
                                                        <li>
                                                            <a href="dashboard-manage-item.html">Manage Items</a>
                                                        </li>
                                                        <li>
                                                            <a href="add-payment-method.html">Add Payment Method</a>
                                                        </li>
                                                    </ul>
                                                </div>

                                                <div class="menu_column">
                                                    <ul>
                                                        <li class="title">Customers</li>
                                                        <li>
                                                            <a href="support-forum.html">Support Forum</a>
                                                        </li>
                                                        <li>
                                                            <a href="support-forum-detail.html">Forum Details</a>
                                                        </li>
                                                        <li>
                                                            <a href="login.html">Login</a>
                                                        </li>
                                                        <li>
                                                            <a href="signup.html">Register</a>
                                                        </li>
                                                        <li>
                                                            <a href="recover-pass.html">Recovery Password</a>
                                                        </li>
                                                        <li>
                                                            <a href="customer-dashboard.html">Customer Dashboard</a>
                                                        </li>
                                                        <li>
                                                            <a href="customer-downloads.html">Customer Downloads</a>
                                                        </li>
                                                        <li>
                                                            <a href="customer-info.html">Customer Info</a>
                                                        </li>
                                                    </ul>

                                                    <ul>
                                                        <li class="title">Blog</li>
                                                        <li>
                                                            <a href="blog1.html">Blog V-1</a>
                                                        </li>
                                                        <li>
                                                            <a href="blog2.html">Blog V-2</a>
                                                        </li>
                                                        <li>
                                                            <a href="single-blog.html">Single Blog</a>
                                                        </li>
                                                    </ul>
                                                </div>

                                                <div class="menu_column">
                                                    <ul>
                                                        <li class="title">Other</li>
                                                        <li>
                                                            <a href="how-it-works.html">How It Works</a>
                                                        </li>
                                                        <li>
                                                            <a href="about.html">About Us</a>
                                                        </li>
                                                        <li>
                                                            <a href="pricing.html">Pricing Plan</a>
                                                        </li>
                                                        <li>
                                                            <a href="testimonial.html">Testimonials</a>
                                                        </li>
                                                        <li>
                                                            <a href="faq.html">FAQs</a>
                                                        </li>
                                                        <li>
                                                            <a href="affiliate.html">Affiliates</a>
                                                        </li>
                                                        <li>
                                                            <a href="term-condition.html">Terms &amp; Conditions</a>
                                                        </li>
                                                        <li>
                                                            <a href="event.html">Event</a>
                                                        </li>
                                                        <li>
                                                            <a href="event-detail.html">Event Detail</a>
                                                        </li>
                                                        <li class="has_badge">
                                                            <a href="badges.html">Badges</a>
                                                            <span class="badge">New</span>
                                                        </li>
                                                        <li>
                                                            <a href="404.html">404 Error page</a>
                                                        </li>
                                                        <li>
                                                            <a href="carieer.html">Job Posts</a>
                                                        </li>
                                                        <li>
                                                            <a href="job-detail.html">Job Details</a>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <a href="contact.html">contact</a>
                                </li>
                            </ul>
                        </div>
                    </nav>
                </div>
            </div>
        </div>
    </div>


    @RenderSection("DailyRecommend")
    
    @RenderSection("NewTreasure")

    <!--页尾底栏-->
    <footer class="footer-area">
        <div class="footer-big section--padding">
            <div class="container">
                <div class="row">
                    <div class="col-lg-3 col-md-6">
                        <div class="info-footer">
                            <!--Logo-->
                            <div class="info__logo">
                                <img src="~/images/flogo.png" alt="footer logo">
                            </div>
                            <!--介绍-->
                            <p class="info--text">
                                易物网是一款可以解决你无处安放闲置物品苦恼的平台。
                                不只有交易，有着共同爱好、趣味相投的人们正集结起来。
                            </p>
                            <!--联系方式-->
                            <ul class="info-contact">
                                <li>
                                    <span class="lnr lnr-phone info-icon"></span>
                                    <span class="info">Phone: +8615869650977</span>
                                </li>
                                <li>
                                    <span class="lnr lnr-envelope info-icon"></span>
                                    <span class="info">zxh957553851@gmail.com</span>
                                </li>
                                <li>
                                    <span class="lnr lnr-map-marker info-icon"></span>
                                    <span class="info">浙江省杭州市下沙高教园区学源街18号</span>
                                </li>
                            </ul>
                        </div>
                    </div>

                    <div class="col-lg-5 col-md-6">
                        <div class="footer-menu">
                            <h4 class="footer-widget-title text--white">组织</h4>
                            <ul>
                                <li>
                                    <a href="#">如何加入我们</a>
                                </li>
                                <li>
                                    <a href="#">易物网如何运转的</a>
                                </li>
                                <li>
                                    <a href="#">版权信息</a>
                                </li>
                            </ul>
                        </div>

                        <div class="footer-menu">
                            <h4 class="footer-widget-title text--white">帮助和咨询</h4>
                            <ul>
                                <li>
                                    <a href="#">如何加入我们</a>
                                </li>
                                <li>
                                    <a href="#">易物网如何运转的</a>
                                </li>
                                <li>
                                    <a href="#">版权信息</a>
                                </li>
                            </ul>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-12">
                        <div class="newsletter">
                            <h4 class="footer-widget-title text--white">Newsletter</h4>
                            <p>Subscribe to get the latest news, update and offer information. Don't worry, we won't send spam!</p>
                            <div class="newsletter__form">
                                <form action="#">
                                    <div class="field-wrapper">
                                        <input class="relative-field rounded" type="text" placeholder="Enter email">
                                        <button class="btn btn--round" type="submit">Submit</button>
                                    </div>
                                </form>
                            </div>

                            <div class="social social--color--filled">
                                <ul>
                                    <li>
                                        <a href="#">
                                            <span class="fa fa-facebook"></span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <span class="fa fa-twitter"></span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <span class="fa fa-google-plus"></span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <span class="fa fa-pinterest"></span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <span class="fa fa-linkedin"></span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <span class="fa fa-dribbble"></span>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="mini-footer">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="copyright-text">
                            <p>
                                &copy; 2019
                                <a href="http://www.beishui.xyz/">Ewu</a>. 版权所有。由
                                <a href="https://github.com/XgHao">XgHaoZheng</a>提供
                            </p>
                        </div>

                        <div class="go_top">
                            <span class="lnr lnr-chevron-up"></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>



    <!-- JS -->
    <script src="http://ditu.google.cn/maps/api/js?key=AIzaSyA0C5etf1GVmL_ldVAichWwFFVcDfa1y_c"></script>
    <script src="~/Scripts/vendor/jquery/jquery-1.12.3.js"></script>
    <script src="~/Scripts/vendor/jquery/popper.min.js"></script>
    <script src="~/Scripts/vendor/jquery/uikit.min.js"></script>
    <script src="~/Scripts/vendor/bootstrap.min.js"></script>
    <script src="~/Scripts/vendor/chart.bundle.min.js"></script>
    <script src="~/Scripts/vendor/grid.min.js"></script>
    <script src="~/Scripts/vendor/jquery-ui.min.js"></script>
    <script src="~/Scripts/vendor/jquery.barrating.min.js"></script>
    <script src="~/Scripts/vendor/jquery.countdown.min.js"></script>
    <script src="~/Scripts/vendor/jquery.counterup.min.js"></script>
    <script src="~/Scripts/vendor/jquery.easing1.3.js"></script>
    <script src="~/Scripts/vendor/owl.carousel.min.js"></script>
    <script src="~/Scripts/vendor/slick.min.js"></script>
    <script src="~/Scripts/vendor/tether.min.js"></script>
    <script src="~/Scripts/vendor/trumbowyg.min.js"></script>
    <script src="~/Scripts/vendor/waypoints.min.js"></script>
    <script src="~/Scripts/dashboard.js"></script>
    <script src="~/Scripts/main.js"></script>
    <script src="~/Scripts/map.js"></script>
    <!-- END JS -->
</body>
</html>
