<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/bootstrap-theme.min.css" rel="stylesheet" />
    <link href="~/Content/ErrorStyles.css" rel="stylesheet" />
    <title>@ViewBag.Title</title>
</head>
    <body>
        @*顶部样式*@
        <div class="navbar navbar-inverse" role="navigation">
            <a class="navbar-brand" href="#">Ewu</a>
            @Html.Action(
                actionName:"Summary",
                controllerName:"Favorite"
            )
        </div>
        @*主容器*@
        <div class="row panel">
            @*左侧分类栏*@
            <div id="categories" class="col-xs-3">
                @Html.Action(
                    actionName:"Menu",
                    controllerName:"Nav"
                )
            </div>
            @*物品列表*@
            <div class="col-xs-8">
                @RenderBody()
            </div>
        </div>
    </body>
</html>