@using Ewu.WebUI.Models.ViewModel
@model DealMyTreasureModel

@foreach (var trea in Model.UserTreasures)
{
    <div class="col-lg-3 col-md-4">
        <div class="single_team_member">
            <figure>
                <img src=@trea.Cover alt="Team Member">
                <figcaption>
                    <div class="name_desig">
                        <h4>@trea.TreasureName</h4>
                        <p>@trea.TreasureType</p>
                    </div>
                    <div class="social">
                        <ul>
                            <li>
                                <a href=@("/Deal/MakeDeal?TreasureSponsorID="+trea.TreasureUID+"&TreasureRecipientID="+Model.DealTreasureGuid)>
                                    <span title="选择" class="fa fa-shopping-basket"></span>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <span title="删除" class="fa fa-trash"></span>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <span title="编辑" class="fa fa-pencil"></span>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <span title="详情" class="fa fa-external-link"></span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </figcaption>
            </figure>
        </div>
    </div>
}
